@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
  color: $color-text;
}

h1 {
  color: $color-primary;
}

.text-color {
  color: $color-text;
}

.form {
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
  background-color: #0b0e11;
  border-radius: 8px;

  &_title {
    color: $color-primary;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

.employee_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  section {
    min-width: 20rem;
  }
}

.btn_explore {
  text-decoration: none;
  color: white;
}

.card-body {
  position: relative;
  .name {
    color: $color-primary;
  }
  .social {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border-width: 2px;
  }

  .btn-close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
  .tooltips {
    position: absolute;

    .tooltiptext {
      visibility: hidden;
      width: 70px;
      background-color: orangered;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      right: -100%;
    }

    .tooltiptext::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: orangered transparent transparent transparent;
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    color: $color-primary;
    text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222,
      1px 1px 0 #222;
  }

  h6 {
    color: $color-bg;
  }
}

.dropdown-toggle {
  &::after {
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -6px;
  }
}

.form-delete {
  display: inline-block;
}
