<div class='form mt-5'>
  <h2 class='form_title'>Add Employee</h2>
  <form class='row g-3' method='POST' action='/employees/store'>
    <div class='mb-3'>
      <label for='name' class='form-label'>Name</label>
      <input
        type='text'
        name='name'
        class='form-control'
        id='name'
        placeholder="What's name?"
      />
    </div>
    <div class='mb-3'>
      <label for='age' class='form-label'>Age</label>
      <input
        type='text'
        name='age'
        class='form-control w-25 min-w100'
        id='age'
        placeholder='Ex: 18+'
      />
    </div>
    <div class='mb-3'>
      <label for='gender' class='form-label'>Gender</label>
      <select class='form-select w-25 min-w100' name='gender' id='gender'>
        <option value='male'>Male</option>
        <option value='female'>Female</option>
        <option value='other'>Other</option>
      </select>
    </div>
    <div class='mb-3'>
      <label for='pos' class='form-label'>Level</label>
      <select class='form-select w-50 min-w100' name='pos' id='pos'>
        <option value='iron'>Iron</option>
        <option value='bronze'>Bronze</option>
        <option value='silver'>Silver</option>
        <option value='gold'>Gold</option>
        <option value='platinum'>Platinum</option>
        <option value='diamond'>Diamond</option>
        <option value='master'>Master</option>
        <option value='grandMaster'>GrandMaster</option>
        <option value='challenger'>Challenger</option>
      </select>
    </div>
    <div class='mb-3'>
      <label for='phoneNumber' class='form-label'>Phone Number</label>
      <input
        type='text'
        name='phoneNumber'
        class='form-control w-50 min-w100'
        id='phoneNumber'
        placeholder='0123456789'
      />
    </div><div class='mb-3'>
      <label for='address' class='form-label'>Address</label>
      <input
        type='text'
        name='address'
        class='form-control'
        id='address'
        placeholder='Da Nang, Viet Nam'
      />
    </div>

    <div class='col-auto m-auto mt-3 mb-2'>
      <button type='submit' class='btn btn-success'>Confirm</button>
    </div>
  </form>
</div>